aiogram==2.19                
aiohttp==3.8.1               
aiosignal==1.2.0               
Babel==2.9.1               
certifi==2021.10.8           
environs==9.5.0               
pip==20.0.2              
